.container {
    max-width: 960px;
}

a.downloadlink:link, a.downloadlink:visited {
  color: #444444;
  border-radius: 10px;
  background-color: #e6ecff;
  padding: 4px 0px 4px 12px;
  margin: 0px 5px 5px 0px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  width: 255px;
}

a.downloadlink:hover, a.downloadlink:active {
  background-color: #b3c6ff;
}

a.imagelink:link, a.imagelink:visited {
  padding: 10px;
  margin: 15px 10px 15px 0px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
}
