a.imagelink:link, a.imagelink:visited {
  border: 1px solid #999999;
  margin: 20px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
}

a.imagelink:hover, a.imagelink:active {
  background-color: #b3c6ff;
}